[submodule "bugsy_printer_files"]
	path = bugsy_printer_files
	url = https://github.com/sn-printer-files/bugsy_printer_files
[submodule "code/libs/Spellbox"]
	path = code/libs/Spellbox
	url = https://github.com/SamuelNoesslboeck/Spellbox.git
